.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 74px);
}

.profile__form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: flex-start;
  width: 100%;
  min-height: calc(100% - 144px);
  max-width: 410px;
  padding: 74px 0 70px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
  margin: 0 0 123px;
}

.profile__input-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 16px;
  margin: 0 0 17px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__input-container:last-of-type {
  border-bottom: none;
  padding: 0;
  margin: 0 0 220px;
}

.profile__input-title {
  max-width: 141px;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__input {
  width: calc(100% - 145px);
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  border: none;
}

.profile__button-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin: 0 0 16px;
  background-color: inherit;
  border: 0;
  padding: 0;
}

.profile__button-submit {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0 15px;
  margin: 0 0 16px;
  text-align: center;
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
}

.profile__button-submit_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: not-allowed;
}

.profile__button:last-of-type {
  margin: 0;
}

.profile__button_style_exit {
  font-weight: 500;
  color: #FF3055;
}

.profile__input-error {
  position: relative;
  text-align: right;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
}

@media screen and (max-width: 768px) {
  .profile__form {
    min-height: calc(100% - 236px - 269px);
    padding: 236px 0 269px;
  }

  .profile__title {
    margin: 0 0 96px;
  }

  .profile__input-container:last-of-type {
    margin: 0 0 210px;
  }
}

@media screen and (max-width: 450px) {
  .profile__form {
    min-height: calc(100vh - 184px);
    padding: 70px 30px 40px;
    max-width: 260px;
    grid-template-rows: auto auto 1fr auto;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__input-container:last-of-type {
    align-self: flex-start;
    margin: 0;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-submit {
    padding: 15px 0;
    margin: 0 0 14px;
    font-size: 12px;
    line-height: 15px;
  }
}