.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 18px max(30px, (50% - var(--max-content-width)/2));
}

.header_style_blue {
  background-color: #073042;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}
