.not-found-page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  align-content: center;
}

.not-found-page__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
  margin: 0;
  align-self: flex-end;
}

.not-found-page__subtitle {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.not-found-page__link {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
  margin: 0 0 60px;
  padding: 0;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .not-found-page__link {
    margin: 0 0 222px;
  }
}

@media screen and (max-width: 450px) {
  .not-found-page__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found-page__subtitle {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found-page__link {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 30px;
  }
}

