.navtab {
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 24px max(70px, (50% - var(--max-content-width)/2));
}

.navtab__link {
  color: #fff;
  font-size: 13px;
  margin: 0 40px 0 0;
  text-decoration-line: underline;
}

.navtab__link:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .navtab {
    padding: 24px 50px;
  }
}

@media screen and (max-width: 450px) {
  .navtab {
    padding: 25px 18px;
  }

  .navtab__link {
    font-size: 11px;
    margin: 0 24px 0 0;
  }
}